<div class="container">
  <div class="stats">
    <h2>Objętość treningowa</h2>
    <button routerLink="/" routerLinkActive="active" type="submit">Przysiad</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Klata</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Martwy</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Żołnierskie</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Biceps</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Triceps</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Łydki</button>
    <button routerLink="/" routerLinkActive="active" type="submit">Podciąganie</button><br>
    <button routerLink="/profile" routerLinkActive="active" type="submit">Wróć</button>
  </div>
</div>
